-- shared variables used across mutlitble config files

return {
    mainMod         = "SUPER",
 
    terminal        = "kitty",
    fileManager     = "thunar",
    menu            = "nc -U /run/user/1000/walker/walker.sock",
    menuService     = "walker --gapplication-service",
    bar             = "waybar",
    wallpaperd      = "hyprpaper",
    nwManager       = "nm-applet --indicator",
    notifAgent      = "dunst",
}


