-- shared variables used across mutlitble config files

return {
    mainMod         = "SUPER",
 
    terminal        = "kitty",
    fileManager     = "thunar",
    menu            = "walker",
    bar             = "waybar",
    wallpaperd      = "hyprpaper",
    nwManager       = "nm-applet --indicator",
    notifAgent      = "dunst",
}


